[Unit]
Description=Execute curator service every day at 6

[Timer]
OnCalendar=*-*-* 06:00:00
Unit=curator.service

[Install]
WantedBy=multi-user.target
