[Unit]
Description=This is the lenken frontend
After=syslog.target
[Service]
ExecStart=/bin/bash -c "/var/app/lenken/start.sh"
RestartSec=5s
Restart=on-success
User=root

[Install]
WantedBy=multi-user.target